// Normalize Base Setup
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

:root {
   // Color
   --color-primary: #eb2f64;
   --color-primary-light: #FF3366;
   --color-primary-dark: #BA265D;

   --color-white: #ffffff;
   --color-gray-light-1: #faf9f9;
   --color-gray-light-2: #f4f2f2;
   --color-gray-light-3: #f0eeee;
   --color-gray-light-4: #c0c0c0;

   --color-black: #000000;
   --color-gray-dark-1: #303030;
   --color-gray-dark-2: #707070;
   --color-gray-dark-3: #909090;

   // shadow
   --shadow-dark-1: 0 2rem 6rem rgba(0, 0, 0, .3);
   --shadow-light-1: 0 2rem 5rem rgba(0, 0, 0, .06);

   // bottom border line
   --border-solid-bottom: .1rem solid var(--color-gray-light-2);
}

html {
   box-sizing: border-box;
   // 1rem = 10px -> 10px/16px = 62.5%
   font-size: 62.5%;
   
   @include respond(tab-land-s){ font-size: 50%; }

}

body {
   background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
   background-size: cover;
   background-repeat: no-repeat;

   // Typography
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   line-height: 1.6;
   color: var(--color-gray-dark-2);

   min-height: 100vh;
}